Repository Privatix/dapp-gui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gonzazoid, @Vitold55, @EKorobov, @drew2a, @kelewind

.github/CODEOWNERS:

# about codeowners:
# https://help.github.com/articles/about-codeowners/

# notify frontend-team about changes
*.ts            @gonzazoid @Vitold55 @EKorobov
*.tsx           @gonzazoid @Vitold55 @EKorobov
*.js            @gonzazoid @Vitold55 @EKorobov
*.json          @gonzazoid @Vitold55 @EKorobov

# notify drew2a about changes in scripts and settings
/.github/       @drew2a
*.md            @drew2a
vocabulary/     @drew2a

# notify devops team about changes in settings.json
settings.json   @kelewind

client: update usage, draft
  src/client_components/connections/active.tsx
  src/client_components/connections/usage.tsx
  src/utils/ws.ts
Owners: @gonzazoid, @Vitold55, @EKorobov

job names
  src/client_components/connections/jobName.tsx
  src/i18next/vocabulary/en.json
  src/i18next/vocabulary/ru.json
Owners: @gonzazoid, @Vitold55, @EKorobov, @drew2a

removed readonly flag from addToDeposit input field
  src/client_components/connections/increaseDepositView.tsx
Owners: @gonzazoid, @Vitold55, @EKorobov

added deposit to state
  src/client_components/connections/increaseDepositView.tsx
Owners: @gonzazoid, @Vitold55, @EKorobov

remove period: draft
  src/components/offerings/offeringTools.tsx
Owners: @gonzazoid, @Vitold55, @EKorobov

job names: new jobs
  src/client_components/connections/jobName.tsx
  src/i18next/vocabulary/en.json
  src/i18next/vocabulary/ru.json
Owners: @gonzazoid, @Vitold55, @EKorobov, @drew2a

fix translating
  src/i18next/vocabulary/ru.json
Owners: @drew2a

Simplify add new language
  .gitignore
  build_tools/build.js
  build_tools/pre_build.js
  package.json
  src/i18next/init.ts
  src/i18next/vocabulary/ar.json
  src/i18next/vocabulary/cn.json
  src/i18next/vocabulary/de.json
  src/i18next/vocabulary/en.json
  src/i18next/vocabulary/es.json
  src/i18next/vocabulary/fr.json
  src/i18next/vocabulary/ja.json
  src/i18next/vocabulary/ko.json
  src/i18next/vocabulary/ru.json
Owners: @gonzazoid, @Vitold55, @EKorobov, @drew2a

cleaning
  build_tools/build.js
Owners: @gonzazoid, @Vitold55, @EKorobov

Login -> use Enter key to press next
  src/components/auth/login.tsx
Owners: @gonzazoid, @Vitold55, @EKorobov

bugsnag config
  assets/settings.json
Owners: @kelewind
