Repository Privatix/dapp-gui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gonzazoid, @Vitold55, @drew2a

.github/CODEOWNERS:

# about codeowners:
# https://help.github.com/articles/about-codeowners/

# notify frontend-team about changes
*.ts            @gonzazoid @Vitold55
*.tsx           @gonzazoid @Vitold55
*.js            @gonzazoid @Vitold55
*.json          @gonzazoid @Vitold55

# notify drew2a about changes in scripts and settings
/.github/       @drew2a
*.md            @drew2a
vocabulary/     @drew2a

# notify devops team about changes in settings.json
settings.json   @drew2a

fixed errors in console&reduced requests amount
  src/client/lightweightMode/index.tsx
  src/common/settings/settingsTable.tsx
  src/utils/storage.ts
Owners: @gonzazoid, @Vitold55

simple mode: unsubscribe when unmounted
  src/client/lightweightMode/index.tsx
Owners: @gonzazoid, @Vitold55

prevents multiple resume attemptions
  src/client/lightweightMode/index.tsx
Owners: @gonzazoid, @Vitold55

fixed endless spinner when disconnecting
  src/client/lightweightMode/index.tsx
Owners: @gonzazoid, @Vitold55

fixed subscription in history
  src/agent/channels/channelsListByStatus.tsx
  src/client/vpn_list/history.tsx
Owners: @gonzazoid, @Vitold55

layout editing
  src/client/lightweightMode/index.tsx
  src/client/lightweightMode/selectCountry.tsx
  src/client/lightweightMode/selectCountryOption.tsx
  src/client/lightweightMode/selectCountryValue.tsx
Owners: @gonzazoid, @Vitold55

simple mode: improved ping
  src/client/lightweightMode/index.tsx
  src/client/lightweightMode/selectCountry.tsx
Owners: @gonzazoid, @Vitold55

simple mode: optimal location
  src/client/lightweightMode/index.tsx
  src/client/lightweightMode/selectCountry.tsx
  src/client/lightweightMode/selectCountryOption.tsx
  src/client/lightweightMode/selectCountryValue.tsx
  src/i18next/vocabulary/en.json
  src/i18next/vocabulary/ru.json
Owners: @gonzazoid, @Vitold55, @drew2a

simple mode: layout
  assets/css/style.css
  assets/images/Privatix_logo.png
  src/client/lightweightMode/index.tsx
  src/client/lightweightMode/offeringInfo.tsx
Owners: @gonzazoid, @Vitold55

simple mode: refactoring, moved the states into the separate components
  src/client/lightweightMode/index.tsx
  src/client/lightweightMode/states/connected.tsx
  src/client/lightweightMode/states/connecting.tsx
  src/client/lightweightMode/states/disconnected.tsx
  src/client/lightweightMode/states/disconnecting.tsx
  src/client/lightweightMode/states/index.ts
  src/client/lightweightMode/states/pingFailed.tsx
  src/client/lightweightMode/states/pingLocations.tsx
  src/client/lightweightMode/states/suspended.tsx
Owners: @gonzazoid, @Vitold55

remove comments
  src/client/lightweightMode/index.tsx
Owners: @gonzazoid, @Vitold55

simple mode: connection error handling
  .travis.yml
  src/client/lightweightMode/index.tsx
  src/client/lightweightMode/states/pingFailed.tsx
  src/i18next/vocabulary/en.json
  src/i18next/vocabulary/ru.json
Owners: @gonzazoid, @Vitold55, @drew2a

change version to 0.22.0
  package.json
Owners: @gonzazoid, @Vitold55

simple mode: padding the time
  src/client/lightweightMode/states/connected.tsx
Owners: @gonzazoid, @Vitold55

simple mode: current job
  src/client/lightweightMode/states/connecting.tsx
  src/client/lightweightMode/states/disconnecting.tsx
  src/client/lightweightMode/states/pingLocations.tsx
  src/common/progressBars/dotProgress.tsx
  src/common/progressBars/stepProgress.tsx
Owners: @gonzazoid, @Vitold55

simple mode: connecting progress bar
  src/client/lightweightMode/index.tsx
  src/i18next/vocabulary/en.json
  src/i18next/vocabulary/ru.json
Owners: @gonzazoid, @Vitold55, @drew2a

simple mode: unnecessary subscriptions
  src/client/lightweightMode/index.tsx
Owners: @gonzazoid, @Vitold55

set progress duration
  assets/css/style.css
Owners: none

subscriptions: refactoring
  src/client/lightweightMode/index.tsx
  src/utils/ws.ts
Owners: @gonzazoid, @Vitold55

subscriptions: refactoring
  src/utils/ws.ts
Owners: @gonzazoid, @Vitold55

simple mode: remove clientServiceTerminatedIfPending job
  src/client/lightweightMode/states/connecting.tsx
Owners: @gonzazoid, @Vitold55

simple mode: fixes
  src/client/lightweightMode/index.tsx
Owners: @gonzazoid, @Vitold55

simple mode: new offering
  src/client/lightweightMode/index.tsx
Owners: @gonzazoid, @Vitold55

logs: refactoring
  src/common/logs/blocks/search.tsx
  src/common/logs/blocks/table.tsx
  src/common/logs/logsList.tsx
  src/typings/logs.d.ts
Owners: @gonzazoid, @Vitold55

routers with key
  src/common/wizard/index.tsx
Owners: @gonzazoid, @Vitold55

simple mode: check if mounted
  src/client/lightweightMode/index.tsx
Owners: @gonzazoid, @Vitold55

set optimal location immediately
  src/client/lightweightMode/index.tsx
Owners: @gonzazoid, @Vitold55

simple mode: clear usage after disconnecting
  src/client/lightweightMode/index.tsx
Owners: @gonzazoid, @Vitold55

simple mode: background
  src/client/lightweightMode/index.tsx
  src/typings/state.ts
Owners: @gonzazoid, @Vitold55

simple mode: check if job failed
  src/client/lightweightMode/index.tsx
Owners: @gonzazoid, @Vitold55

optimal location
  src/client/lightweightMode/index.tsx
Owners: @gonzazoid, @Vitold55

fix a job failing
  src/client/lightweightMode/index.tsx
Owners: @gonzazoid, @Vitold55
